.row{
    display: flex;
    justify-content: space-evenly;
    background-color: gray;
}

.col{
    background-color: green;
    flex: 1; /*1/3*/
}

/*.col-2{
    background-color: yellow;
    flex: 2;
}*/


.col-2{
    flex: 2;
}

.col-3{
    flex: 3;
}