#contenedor{
    background-color: gray;
}

#hijo1{
    width: 200px;
    height: 100px;
    background-color: blue;
}

#hijo2{
    width: 300px;
    height: 250px;
    background-color: red;
}

#hijo3{
    width: 100px;
    height: 150px;
    background-color: green;
    position: relative;
    display: inline-block;
    left: 50px;
}

#hijo4{
    width: 100px;
    height: 160px;
    background-color: yellow;
}

#hijo5{
    width: 100px;
    height: 70px;
    background-color: black;
}

#hijo3_1{
    width: 100px;
    height: 70px;
    background-color: blueviolet;
    display: inline-block;
}